In [1]:
#===========================================================================#
#### Import needed Packages
#===========================================================================#
import pandas as pd #Pandas-- data framework 
import glob # for grabbing from file system
import numpy as np
import statistics
#===========================================================================#

In [2]:
## FOR THIS TO WORK you have to have all of the csv's in the path directory folder (and nothing else)
path =r'C:/Users/BLanier/Documents/MSBA Fall 2017/Advanced Pred Modeling/MARCH MADNESS APM PROJECT' # use your path
all_files = glob.glob(path + "/*.csv")
df = pd.DataFrame()
filename = path
filename_check = ''
desired_filename = ''
stop = True
# filename_list = []
df_name_list = []


## Create a function that will write all the df read functions for me 
for file_ in all_files:
    for i in range(len(file_)): #For all of the files in the folder...
        filename_check += file_[i] #Build up the filename_check string
        if filename_check == filename: #Change boolean when string is full of crap
            stop = False
        if stop == False: # When string is full of crap...
            desired_filename += file_[i] # Pull the desired filename
    stop = True # Reset boolean 
    
    # Some careful fuckery of the filename to get desired output
    desired_filename = desired_filename[2:]
    df_name = desired_filename[:-4]
    df_name = 'df_'+df_name
    func_name = df_name + "=" + "pd.read_csv('"+desired_filename+"')"
    
    desired_filename = '' # Reset filename
    filename_check = '' # Reset filename_check
    df_name_list.append(df_name) # Create list of df names
    
    print(func_name) # Print out functions to copy paste into next cell

In [3]:
df_RegularSeasonCompactResults=pd.read_csv('RegularSeasonCompactResults.csv')
df_RegularSeasonDetailedResults=pd.read_csv('RegularSeasonDetailedResults.csv')
df_SampleSubmission=pd.read_csv('SampleSubmission.csv')
df_Seasons=pd.read_csv('Seasons.csv')
df_Teams=pd.read_csv('Teams.csv')
df_TourneyCompactResults=pd.read_csv('TourneyCompactResults.csv')
df_TourneyDetailedResults=pd.read_csv('TourneyDetailedResults.csv')
df_TourneySeeds=pd.read_csv('TourneySeeds.csv')
df_TourneySlots=pd.read_csv('TourneySlots.csv')

# Boom

In [4]:
# Create a loop that will print out functions to print filenames

for df in df_name_list:
    print('print(' + "'"+ df + "'" + ',' + df + '.columns.values)')
    print('print()')

# Meta

In [5]:
print('df_RegularSeasonCompactResults',df_RegularSeasonCompactResults.columns.values)
print()
print('df_RegularSeasonDetailedResults',df_RegularSeasonDetailedResults.columns.values)
print()
print('df_SampleSubmission',df_SampleSubmission.columns.values)
print()
print('df_Seasons',df_Seasons.columns.values)
print()
print('df_Teams',df_Teams.columns.values)
print()
print('df_TourneyCompactResults',df_TourneyCompactResults.columns.values)
print()
print('df_TourneyDetailedResults',df_TourneyDetailedResults.columns.values)
print()
print('df_TourneySeeds',df_TourneySeeds.columns.values)
print()
print('df_TourneySlots',df_TourneySlots.columns.values)
print()

# Much easier view of the columns

df_RegularSeasonCompactResults ['Season' 'Daynum' 'Wteam' 'Wscore' 'Lteam' 'Lscore' 'Wloc' 'Numot']

df_RegularSeasonDetailedResults ['Season' 'Daynum' 'Wteam' 'Wscore' 'Lteam' 'Lscore' 'Wloc' 'Numot' 'Wfgm'
 'Wfga' 'Wfgm3' 'Wfga3' 'Wftm' 'Wfta' 'Wor' 'Wdr' 'Wast' 'Wto' 'Wstl'
 'Wblk' 'Wpf' 'Lfgm' 'Lfga' 'Lfgm3' 'Lfga3' 'Lftm' 'Lfta' 'Lor' 'Ldr'
 'Last' 'Lto' 'Lstl' 'Lblk' 'Lpf']

df_SampleSubmission ['Id' 'Pred']

df_Seasons ['Season' 'Dayzero' 'Regionw' 'Regionx' 'Regiony' 'Regionz']

df_Teams ['Team_Id' 'Team_Name']

df_TourneyCompactResults ['Season' 'Daynum' 'Wteam' 'Wscore' 'Lteam' 'Lscore' 'Wloc' 'Numot']

df_TourneyDetailedResults ['Season' 'Daynum' 'Wteam' 'Wscore' 'Lteam' 'Lscore' 'Wloc' 'Numot' 'Wfgm'
 'Wfga' 'Wfgm3' 'Wfga3' 'Wftm' 'Wfta' 'Wor' 'Wdr' 'Wast' 'Wto' 'Wstl'
 'Wblk' 'Wpf' 'Lfgm' 'Lfga' 'Lfgm3' 'Lfga3' 'Lftm' 'Lfta' 'Lor' 'Ldr'
 'Last' 'Lto' 'Lstl' 'Lblk' 'Lpf']

df_TourneySeeds ['Season' 'Seed' 'Team']

df_TourneySlots ['Season' 'Slot' 'Strongseed' 'Weakseed']

In [6]:
df_TourneySeeds

      Season  Seed  Team
0       1985   W01  1207
1       1985   W02  1210
2       1985   W03  1228
3       1985   W04  1260
4       1985   W05  1374
5       1985   W06  1208
6       1985   W07  1393
7       1985   W08  1396
8       1985   W09  1439
9       1985   W10  1177
10      1985   W11  1455
11      1985   W12  1330
12      1985   W13  1233
13      1985   W14  1318
14      1985   W15  1273
15      1985   W16  1250
16      1985   X01  1385
17      1985   X02  1433
18      1985   X03  1301
19      1985   X04  1424
20      1985   X05  1449
21      1985   X06  1409
22      1985   X07  1104
23      1985   X08  1234
24      1985   X09  1116
25      1985   X10  1112
26      1985   X11  1431
27      1985   X12  1246
28      1985   X13  1361
29      1985   X14  1305
...      ...   ...   ...
2120    2017   Y05  1235
2121    2017   Y06  1166
2122    2017   Y07  1276
2123    2017   Y08  1274
2124    2017   Y09  1277
2125    2017   Y10  1329
2126    2017   Y11  1348
2127    2017   Y12  1305
2128    2017   Y13  1436
2129    2017   Y14  1233
2130    2017   Y15  1240
2131    2017  Y16a  1300
2132    2017  Y16b  1413
2133    2017   Z01  1314
2134    2017   Z02  1246
2135    2017   Z03  1417
2136    2017   Z04  1139
2137    2017   Z05  1278
2138    2017   Z06  1153
2139    2017   Z07  1173
2140    2017   Z08  1116
2141    2017   Z09  1371
2142    2017   Z10  1455
2143    2017  Z11a  1243
2144    2017  Z11b  1448
2145    2017   Z12  1292
2146    2017   Z13  1457
2147    2017   Z14  1245
2148    2017   Z15  1297
2149    2017   Z16  1411

[2150 rows x 3 columns]

In [7]:
# df_SampleSubmission['Team_Id'] = df_SampleSubmission['Id']
# df_SampleSubmission.merge(df_Teams, on='Team_Id')
# df_SampleSubmission

In [8]:
print(len(df_TourneySeeds['Season']))
print(len(df_TourneySlots['Season']))
print(len(df_TourneyDetailedResults['Season']))
df_Teams
# df_TourneySeeds['Season']

2150
2117
914

     Team_Id        Team_Name
0       1101      Abilene Chr
1       1102        Air Force
2       1103            Akron
3       1104          Alabama
4       1105      Alabama A&M
5       1106       Alabama St
6       1107        Albany NY
7       1108        Alcorn St
8       1109     Alliant Intl
9       1110    American Univ
10      1111   Appalachian St
11      1112          Arizona
12      1113       Arizona St
13      1114  Ark Little Rock
14      1115   Ark Pine Bluff
15      1116         Arkansas
16      1117      Arkansas St
17      1118     Armstrong St
18      1119             Army
19      1120           Auburn
20      1121          Augusta
21      1122      Austin Peay
22      1123          Ball St
23      1124           Baylor
24      1125          Belmont
25      1126  Bethune-Cookman
26      1127       Binghamton
27      1128    Birmingham So
28      1129         Boise St
29      1130   Boston College
..       ...              ...
334     1435       Vanderbilt
335     1436          Vermont
336     1437        Villanova
337     1438         Virginia
338     1439    Virginia Tech
339     1440              VMI
340     1441       W Carolina
341     1442       W Illinois
342     1443              WKU
343     1444       W Michigan
344     1445       W Salem St
345     1446      W Texas A&M
346     1447           Wagner
347     1448      Wake Forest
348     1449       Washington
349     1450    Washington St
350     1451         Weber St
351     1452    West Virginia
352     1453     WI Green Bay
353     1454     WI Milwaukee
354     1455       Wichita St
355     1456   William & Mary
356     1457         Winthrop
357     1458        Wisconsin
358     1459          Wofford
359     1460        Wright St
360     1461          Wyoming
361     1462           Xavier
362     1463             Yale
363     1464    Youngstown St

[364 rows x 2 columns]